
.send-wrapper{
	position: fixed;
	bottom: 0px;

	/* center the element */
	right: 0;
	left: 0;
	opacity: 95%;
	/* margin-right: auto;
	margin-left: auto; */

}


.send-inner-wrapper{
	padding-bottom: 10px;
	padding-top: 5px;
	color: #ffffff;
	-webkit-animation: neonBlue 1.3s ease-in-out infinite alternate;
  -moz-animation: neonBlue 1.3s ease-in-out infinite alternate;
  animation: neonBlue 1.3s ease-in-out infinite alternate;

  font-family: Audiowide;
	/* border-top-color: #ffffff;
	border-top-style: solid; */
	/* clip-path: circle(100% at 50%); */


}




@-webkit-keyframes 
neonBlue {
  from {
    text-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 13px #fff, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF;
  }
  to {
    text-shadow: 0 0 8px #fff, 0 0 13px #fff, 0 0 21px #fff, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF;
  }
}

@-moz-keyframes neonBlue {
  from {
    text-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 13px #fff, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF;
  }
  to {
    text-shadow: 0 0 8px #fff, 0 0 13px #fff, 0 0 21px #fff, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF;
  }
}

@keyframes neonBlue {
  from {
    text-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 13px #fff, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF;
  }
  to {
    text-shadow: 0 0 8px #fff, 0 0 13px #fff, 0 0 21px #fff, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF;
  }
}





.send-textbox{
	font-family: monospace;
	font-size: 16px;
	background-color: black;
	width: 100%;
	min-width: 100%;
	max-width: 100%;

	padding: 3px 4px;
}

.send-message-help-below-text{
	font-family: monospace;
	font-size: 10px;
}
.send-message-help-text{
	font-family: monospace;
	font-size: 14px;
	

}
.bottom-label{
	padding-top: 10px;
	font-size: 12px;
	font-family: 'Source Sans Pro', sans-serif;

}