.send-wrapper{
	position: fixed;
	bottom: 0px;
	
	/* center the element */
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;

}

	/* transform: skewY(40%); */
	/* opacity: 95%; */
	/* margin-right: auto;
	margin-left: auto; */
	/* border-radius: 100px; */

	/* transform: scaleZ(45deg); */
	/* -webkit-animation: neonBlueOuter 1.3s ease-in-out infinite alternate;
  -moz-animation: neonBlueOuter 1.3s ease-in-out infinite alternate;
	animation: neonBlueOuter 1.3s ease-in-out infinite alternate; */



.send-inner-wrapper{
	/* position: relative; */
	padding-bottom: 10px;
	padding-top: 5px;
	color: white;
	-webkit-animation: neonBlue 1.3s ease-in-out infinite alternate;
  -moz-animation: neonBlue 1.3s ease-in-out infinite alternate;
  animation: neonBlue 1.3s ease-in-out infinite alternate;
  font-family: Audiowide;
}


@-webkit-keyframes 
neonBlue {

  from {
		clip-path: ellipse(49% 150% at 50% 150%);
		transform: skewY(40%);
    text-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 13px #fff, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF;
  }
  to {
		clip-path: ellipse(49% 150% at 50% 150%);
		transform: skewY(40%);
    text-shadow: 0 0 8px #fff, 0 0 13px #fff, 0 0 21px #fff, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF;
	};
}

@-moz-keyframes neonBlue {
  from {
    text-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 13px #fff, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF;
  }
  to {
    text-shadow: 0 0 8px #fff, 0 0 13px #fff, 0 0 21px #fff, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF;
  }
}

@keyframes neonBlue {
  from {
    text-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 13px #fff, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF;
  }
  to {
    text-shadow: 0 0 8px #fff, 0 0 13px #fff, 0 0 21px #fff, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF;
  }
}


@-webkit-keyframes 
neonBlueOuter {
  from {
    box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 13px #fff, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF;
  }
  to {
    box-shadow: 0 0 8px #fff, 0 0 13px #fff, 0 0 21px #fff, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF;
  }
}

@-moz-keyframes 
neonBlueOuter {
  from {
    box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 13px #fff, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF;
  }
  to {
    box-shadow: 0 0 8px #fff, 0 0 13px #fff, 0 0 21px #fff, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF;
  }
}

@keyframes neonBlueOuter {
  from {
    box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 13px #fff, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF, 0 0 13px #228DFF, 0 0 8px #228DFF;
  }
  to {
	
    box-shadow: 0 0 8px #fff, 0 0 13px #fff, 0 0 21px #fff, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF;
  }
}





.send-textbox{
	font-family: monospace;
	font-size: 16px;
	background-color: black;
	width: 100%;
	min-width: 100%;
	max-width: 100%;

	padding: 3px 4px;
}

.send-message-help-below-text{
	color: black;
	font-family: monospace;
	font-size: 10px;
}
.send-message-help-text{
	font-family: monospace;
	font-size: 14px;
	

}
.bottom-label{
	padding-top: 10px;
	font-size: 12px;
	font-family: 'Source Sans Pro', sans-serif;
}